@model KirjastoAppScrum.Models.Kuvat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kuvat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AltText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KuvaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
