@model KirjastoAppScrum.Models.AddKategoriaViewModel


@section scripts{

    <script>
        $('#tulostusCheck').on('change', function () {
            var newVal;
            if ($(this).is(':checked')) {
                newVal = 1;
            } else {
                newVal = 0;
            }
            $("#SN").val(newVal)
        });
    </script>
}

<div class="row" >
    <div class="col-6" style="text-align:start">
        <h2>Muokkaa kategoriaa</h2>
    </div>

    <div class="col-6" style="text-align:end">
        <a id="logOut" href="~/Admin/Uloskirjautuminen" class="btn btn-danger" style="color:white">Kirjaudu ulos</a> @*Kirjaudu ulos painike*@
    </div>
</div>
<hr />

<h3>@ViewBag.itemName</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="width:90vw; text-align:left">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.KategoriaID)
    
    <div class="row" style="text-align:left">
        <div class="separator col">
            <div class="form-group">
                @Html.LabelFor(model => model.TekstiFI, "Teksti suomeksi", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TekstiFI, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TekstiFI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TekstiSE, "Teksti ruotsiksi", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TekstiSE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TekstiSE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TekstiEN, "Teksti englanniksi", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TekstiEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TekstiEN, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SN, "Tulostaako kategoria monta sijaintia?", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @if (Model.SN == 1.ToString())
                    {
                        <input type="checkbox" name="tulostusCheck" value="1" id="tulostusCheck"
                               checked="checked"> <label for="tulostusCheck">Monitulostus?</label>
                    }
                    else
                    {
                        <input type="checkbox" name="tulostusCheck" value="0" id="tulostusCheck"> <label for="tulostusCheck">Monitulostus?</label>
                    }
                    @Html.HiddenFor(model => model.SN, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.DropDownListFor(m => m.SN, Enumerable.Range(0, 2).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))*@
                    @Html.ValidationMessageFor(model => model.SN, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (Model.Class == 0)
            {
                @Html.HiddenFor(model => model.ReferTo, new { htmlAttributes = new { @class = "form-control", value = "null" } })
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.ReferTo, "Kuuluu kategoriaan", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ReferTo, new SelectList(ViewBag.KategoriaLista, "Value", "Text"))
                        @*Tuodaan referien viewbag lista josta voi valita kategorian joka on Masteri tälle itemille*@
                        @Html.ValidationMessageFor(model => model.ReferTo, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Class, "Kategorialuokka", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">

                    @Html.DropDownListFor(model => model.Class, new SelectList(ViewBag.LuokkaLista, "Value", "Text"))
                    @*Luokille tehty oma lista josta valitaan luokka*@
                    @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        @* ---------------------------------INFO TEKSTIT OSA--------------------------------------- *@
    <div class="col">

        <div class="form-group infoTextField">
            @Html.LabelFor(model => model.InfoTekstiFI, "Info teksti suomeksi", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.InfoTekstiFI, new { @class = "form-control", @size = "550", @maxlength = "550", @rows = "4", @style = "max-width:100%" })
                @Html.ValidationMessageFor(model => model.InfoTekstiFI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group infoTextField">
            @Html.LabelFor(model => model.InfoTekstiSE, "Info teksti ruotsiksi", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.InfoTekstiSE, new { @class = "form-control", @size = "550", @maxlength = "550", @rows = "4", @style = "max-width:100%" })
                @Html.ValidationMessageFor(model => model.InfoTekstiSE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group infoTextField">
            @Html.LabelFor(model => model.InfoTekstiEN, "Info teksti englanniksi", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.InfoTekstiEN, new { @class = "form-control", @size = "550", @maxlength = "550", @rows = "4", @style = "max-width:100%" })
                @Html.ValidationMessageFor(model => model.InfoTekstiEN, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>



    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input class="btn btn-danger" type="submit" value="Tallenna" />
            <input type="button" class="btn btn-info" value="Takaisin kategorialistaan" onclick="location.href='@Url.Action("Index", "Admin")'" />
        </div>
    </div>
</div>
}
