@model IEnumerable<KirjastoAppScrum.Models.Tekstit>

@{
    ViewBag.Title = "Index";
}



<h2>Kaikki kategoriat</h2>

<hr />
<p>
    @Html.ActionLink("Lisää uusi kategoria", "AddKategoria", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Näytä pääkategoriat", "Index", null, new { @class = "btn btn-warning" })
</p>
<div class="container-fluid">
    <table class="table table-striped">
        <tr>
            <th>
                Nimi
            </th>
            <th>
                Muokkaa / Poista
            </th>
            <th>
                Kuuluu kategoriaan
            </th>
            <th>
                Taso
            </th>
            <th>
                Monitulostus
            </th>
           
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Teksti)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "EditKategoria", new { id = item.Kategoria.KategoriaID, itemName = item.Teksti }, new { @class = "btn btn-success", @style = "color:white" })
            @Html.ActionLink("Poista", "RemoveKategoria", new { id = item.Kategoria.KategoriaID, itemName = item.Teksti }, new { @class = "btn btn-danger", @style = "color:white" })
        </td>
        <td>
            @* Tehdään kategoria Dictionarysta tarkastus jolla etsitään itemin ReferTo itemin nimi RJ *@
            @foreach (var data in ViewBag.referToData)
            {
                @* Key=KategoriaID ja Value= Nimi*@
                if (item.Kategoria.ReferTo == data.Key)
                {
                    @data.Value
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoria.Class)
        </td>
        <td>
            @if (item.Kategoria.SN == 1.ToString())
            {
                <p>Kyllä</p>
            }
            else
            {
                <p>Ei</p>
            }
        </td>

    </tr>
        }

    </table>
</div>