@model IEnumerable<KirjastoAppScrum.Models.Tekstit>

@{
    ViewBag.Title = "Index";
}



<h2>Kaikki kategoriat</h2>

<hr />
<p>
    @Html.ActionLink("Lisää uusi kategoria", "AddKategoria", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Näytä pääkategoriat", "Index", null, new { @class = "btn btn-warning" })
</p>
<div class="container-fluid">
    <table class="table table-striped">
        <tr>
            <th>
                Nimi
            </th>
            <th>
                Muokkaa / Poista
            </th>
            <th>
                Kuuluu kategoriaan
            </th>
            <th>
                Taso
            </th>
            <th>
                Monitulostus
            </th>
            <th>Sijainti</th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Teksti)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "EditKategoria", new { id = item.Kategoria.KategoriaID, itemName = item.Teksti }, new { @class = "btn btn-success", @style = "color:white" })
            @Html.ActionLink("Poista", "RemoveKategoria", new { id = item.Kategoria.KategoriaID, itemName = item.Teksti }, new { @class = "btn btn-danger", @style = "color:white" })
        </td>
        <td>
            @* Tehdään kategoria Dictionarysta tarkastus jolla etsitään itemin ReferTo itemin nimi RJ *@
            @foreach (var data in ViewBag.referToData)
            {
                @* Key=KategoriaID ja Value= Nimi*@
                if (item.Kategoria.ReferTo == data.Key)
                {
                    @data.Value
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoria.Class)
        </td>
        <td>
            @if (item.Kategoria.SN == 1.ToString())
            {
                <p>Kyllä</p>
            }
            else
            {
                <p>Ei</p>
            }
        </td>
        <td>
            @*Tähän koodaan vielä että tekee tarkastuksen että onko itemillä koordinaatteja, jos ei niin muokkauslinkki on disabled, jos on niin lisäys linkki on disabled. RJ  *@
            @*lisäsin tarkistuksen -----vois lisätä vielä erilaisia class marityksiä että tulisi eri värisäks esim. ---ZK*@
            @if (item.Kategoria.Koordinaatit != null)
            {

                @Html.ActionLink("Muokkaa sijaintia", "EditCoords", new { id = item.Kategoria.KategoriaID, itemName = item.Teksti }, new { @class = "btn btn-success", @style = "color:white; padding-right: 25px" })
                @Html.ActionLink("Poista sijainti", "RemoveCoords", new { id = item.Kategoria.Koordinaatit.KoordinaattiID, itemName = item.Teksti }, new { @class = "btn btn-danger", @style = "color:white" })
            }
            else
            {
                @Html.ActionLink("Lisää sijainti", "AddCoords", new { id = item.Kategoria.KategoriaID, itemName = item.Teksti }, new { @class = "btn btn-info", @style = "color:white" })

            }
        </td>
    </tr>
        }

    </table>
</div>