@model KirjastoAppScrum.Models.Logins

@{
    ViewBag.Title = "Lisää uusi käyttäjä";
}

<h2>Lisää uusi käyttäjä</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nimi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nimi, new { htmlAttributes = new { @maxlength="20", @class = "form-control" } })
            <label class="text-danger">
                @Html.DisplayFor(model => model.LoginErrorMessage)
            </label>
            @Html.ValidationMessageFor(model => model.Nimi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Hash, "Salasana", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Hash, new { htmlAttributes = new { @maxlength="20", @class = "form-control" } })
            <input type="checkbox" id="showPassword" /><label for="password">  Näytä salasana</label><br>
            @Html.ValidationMessageFor(model => model.Hash, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserRoles.RooliID, "Käyttöoikeudet", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Rooli", null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserRoles.RooliID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tallenna" class="btn btn-primary" />
            <input type="button" class="btn btn-warning" value="Takaisin" onclick="location.href='@Url.Action("IndexUsers", "Admin")'" />
            <a id="logOut" href="~/Admin/Uloskirjautuminen" class="btn btn-danger" style="color:white">Kirjaudu ulos</a>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*Näytä salasana*@
    <script type="text/javascript">
        $(function () {
            $("#showPassword").change(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $("#Hash").attr("type", "text");
                } else {
                    $("#Hash").attr("type", "password");
                }
            });
        });
    </script>
}
