@model IEnumerable<KirjastoAppScrum.Models.InfoTekstit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InfotextContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tekstit.KieliID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InfotextContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tekstit.KieliID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Infotext_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Infotext_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Infotext_ID })
        </td>
    </tr>
}

</table>
